.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 100;
    font-size: 0;
    background-color: rgb(130, 125, 122);
    border: none;
    border-radius: 50%;
    padding: 10px 15px 15px 15px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.slick-prev::before {
    content: "\2190";
    font-size: 20px;
}

.slick-next::before {
    content: '\2192';
    font-size: 20px;
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}
